/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
@import url('https://fonts.cdnfonts.com/css/google-sans');

:root {
    --anzhiyu-lighttext: var(--anzhiyu-main) /* Fix TOC "main_color" not working in dark mode */
}

p,a,li,ol,ul {
    font-family: 'Product Sans', sans-serif !important;
    font-weight: 400 !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Product Sans', sans-serif !important;
    font-weight: 600 !important;
}

/* Remove repeated header */
#article-container header {
    display: none !important;
}

/* Adjust post Header cover / banner */
@media (min-width:600px) {
    #page-header.post-bg #post-top-cover {
        filter: initial !important;
        width: auto !important;
        height: auto !important;
        margin: auto !important;
        transform: translateX(10px) !important;
    }
}

/* Adjust post content padding */
@media screen and (max-width: 768px) {
    #post {
        padding: 30px !important;
    }
}

/* Remove "Original" badges and tags */
#post-firstinfo .meta-firstline a.post-meta-original,
#post .post-copyright__original {
    display: none !important;
}

/* Reset inline code background color */
#article-container code {
    background: var(--anzhiyu-secondbg) !important;
    border: var(--style-border) !important;
    color: var(--d-code-foreground) !important;
}
#article-container pre code {
    background: transparent !important;
    border: none !important;
}

/* Adjust code block label font size */
#article-container .highlight-tools .code-lang {
    font-size: 12px !important;
    text-transform: none !important;
}

/* Fix code block text padding */
#article-container pre[class*='language-'] *:first-child {
    margin-left: 0px !important;
}

/* Fix collapse code block animation */
#article-container .code-expand-btn.expand-done {
    transform: initial !important;
}

/* Adjust expand and collapse icon text */
#article-container .code-expand-btn .anzhiyu-icon-angle-double-down:before {
    content: '\fe3e \00a0| 展開程式碼' !important;
    color: var(--hl-color) !important;
}
#article-container .code-expand-btn.expand-done .anzhiyu-icon-angle-double-down:before {
    content: '\fe3d \00a0| 收起程式碼' !important;
    color: var(--hl-color) !important;
}

/* Adjust bullet points dot size */
#article-container ul>li:not(.tab)::before {
    top: 0.98em !important;
    width: auto !important;
    height: auto !important;
}

/* Reset hyperlink texts font */
#article-container a {
    /* font-family: initial !important; */
}

/* Set notes border color */
#post .note {
    border-top-color: var(--anzhiyu-card-border) !important;
    border-bottom-color: var(--anzhiyu-card-border) !important;
    border-right-color: var(--anzhiyu-card-border) !important;
}
#post .note.info {
    border-left-color: var(--anzhiyu-main) !important;
}
#post .note.info::before {
    color: var(--anzhiyu-main) !important;
}
#post .note.warning {
    border-left-color: #fa8231 !important;
    background: #fa823122 !important;
}
#post .note.warning code:not(pre > code),
#post .note.warning strong {
    color: #fa8231 !important;
}
#post .note.warning::before {
    color: #fa8231 !important;
}
#post .note.danger {
    border-left-color: #eb3b5a !important;
    background: #eb3b5a22 !important;
}
#post .note.danger::before {
    color: #eb3b5a !important;
    content: '\f06a';
}
#post .note.danger code:not(pre > code),
#post .note.danger strong {
    color: #eb3b5a !important;
}

/* Set dividers (hr and h2's divider) */
#post hr,
#post #article-container h2 {
    border-color: var(--anzhiyu-card-border) !important;
    border-width: 2px !important;
}

/* Remove items from right menu */
#menu-searchBaidu,
#menu-commenttext {
    display: none !important;
}

/* Recent posts (index page) categories text */
#recent-posts .article-categories-original,
#recent-posts .newPost,
#recent-posts .unvisited-post {
    font-size: 12px !important;
}

/* Hide unvisited / unread posts badge */
#recent-posts .unvisited-post {
    display: none !important;
}

/* AI summary description */
.post-ai-description .ai-btn-box {
    display: none !important;
}

/* Post's images animation */
#post img {
    opacity: 1;
    transition: opacity 3s;
}
#post img:hover {
    border: 3px solid var(--anzhiyu-main);
}

/* Post selector */
#blog-container ::selection {
    background: var(--anzhiyu-main) !important;
}

/* Post image alt */
#post .img-alt::before {
    content: "( 圖片描述：";
}
#post .img-alt::after {
    content: " )";
}
#post .img-alt {
    font-size: 1em;
    font-style: italic;
}

/* Adjust google translate widget */
.goog-logo-link,
.skiptranslate span {
    display: none !important;
}
.goog-te-gadget {
    color: transparent !important;
    font-size: 1px !important;
}
.goog-te-combo {
    background: var(--anzhiyu-secondbg) !important;
    color: var(--font-color) !important;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    border-radius: 1em;
}
/* body > .skiptranslate {
    display: none;
} */

/* Plugins */
/* Adjust sticky badge */
#recent-posts>.recent-post-item>.recent-post-info .sticky-warp {
    background: #ff7242 !important;
    padding: 0px 10px;
    border-radius: 0.4em;
}

#recent-posts>.recent-post-item>.recent-post-info .sticky-warp .sticky {
    color: white !important;
}