/* Maison Neue Mono */
@font-face {
    font-family: "Maison Neue Mono";
    src: url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.eot");
    /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.woff2") format("woff2"),
        /* chrome firefox */
        url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.woff") format("woff"),
        /* chrome firefox */
        url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.ttf") format("truetype"),
        /* chrome firefox opera Safari, Android, iOS 4.2+*/
        url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.svg#Maison Neue") format("svg");
    /* iOS 4.1- */
}

:root {
    --font: "Microsoft YaHei", indivisible;
    --code-font: "Maison Neue Mono", monospace;
    --shadow: 0 5px 35px rgb(0 0 0 / 3%);
}

*:not(code, pre, span, i) {
    font-family: var(--font) !important;
}

#loading-bar-wrapper #nprogress .bar {
    background: linear-gradient(130deg, #84d1f5, #0ca0fc 41.07%, #3e7bf7 76.05%) !important;
}

.post-title {
    font-weight: bold !important;
    font-size: clamp(1.2rem, calc(1rem + 3.5vw), 3.5rem) !important;
}

/* ==== [MAC WINDOW] ==== */
code {
    font-family: var(--code-font) !important;
}

pre {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    width: 100% !important;
    font-family: var(--code-font) !important;
}

pre::before {
    content: attr(data-language);
    display: none;
}

pre span {
    background: transparent !important;
}

/* .post-html .tip .code-toolbar::before {
    background: var(--custom-quote-tip);
}
.post-html .warning .code-toolbar::before {
    background: var(--custom-quote-warning);
}
.post-html .danger .code-toolbar::before {
    background: var(--custom-quote-danger);
}
.post-html blockquote .code-toolbar::before {
    background: var(--text-accent);
} */
.post-html .custom-quote .code-toolbar::before,
.post-html .custom-quote .code-toolbar::after,
.post-html blockquote .code-toolbar::before,
.post-html blockquote .code-toolbar::after {
    /* display: none; */
}

.post-html .custom-quote .code-toolbar::before,
.post-html blockquote .code-toolbar::before,
.post-html .tabs .code-toolbar::before {
    background: var(--background-primary-alt);
}

/* .post-html .custom-quote pre,
.post-html blockquote pre {
    border-radius: 8px !important;
} */

.post-html blockquote .code-toolbar::after,
.custom-quote .code-toolbar::after {
    /* background: white;
    -webkit-box-shadow: 20px 0px white, 40px 0px white;
    box-shadow: 20px 0px white, 40px 0px white; */
}

.codepen::before {
    background: #3d3d3e !important;
}

.code-toolbar {
    position: relative;
    border-radius: 8px !important;
    /* margin-top: 60px !important; */
    margin: 30px 0px;
}

.code-toolbar::before {
    color: rgb(197, 197, 197);
    content: '';
    border-radius: 8px 8px 0 0;
    line-height: 30px;
    height: 40px;
    background: var(--background-primary);
    font-size: 16px;
    top: -20px;
    left: 0;
    width: 100%;
    font-weight: bold;
    padding: 0 65px;
    text-indent: 15px;
    float: left;
}

.code-toolbar::after {
    content: '';
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    top: 13px;
    left: 20px;
    margin-top: 2px;
    -webkit-box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
    box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
}

.code-toolbar .caption {
    margin-bottom: 20px;
    margin-left: -50px;
}

.code-toolbar .caption span {
    background: var(--background-primary) !important;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: var(--code-font);
}

/* ==== [LINE NUMBERS] ==== */

.line-numbers .line-numbers-rows {
    /* background: var(--background-primary); */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.line-numbers-rows,
.line-numbers-rows>span {
    all: initial;
    font-family: "Maison Neue Mono", "SFMono-Regular", monospace !important;
    line-height: 1.5;
}

/* ==== [THEME CUSTOMIZATION] ==== */

.token.prefix.deleted,
.token.prefix.inserted {
    margin-left: -20px;
}

.token.deleted .token.line,
.token.inserted .token.line {
    display: block;
    margin-top: -23px;
    border-radius: 8px;
}

.line-highlight {
    /* width: 55px !important; */
    border-left-width: 4px;
}

/* .line-highlight:first-of-type {
    border-top-right-radius: 8px !important;
}

.line-highlight:last-of-type {
    border-bottom-right-radius: 8px !important;
} */

/* Custom: Light Theme */

.theme-light .post-html a {
    color: #3e7bf7 !important;
    -webkit-text-fill-color: initial !important;
    background: transparent !important;
}

.theme-light .post-html a:not(.headerlink)::after {
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 5px;
    margin-bottom: -1px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23aabfc9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M13 11L21.2 2.80005'/><path d='M22 6.8V2H17.2'/><path d='M11 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H15C20 22 22 20 22 15V13'/%3E%3C/svg%3E");
}

.theme-light .post-html code {
    background: rgba(13, 185, 215, 0.05) !important;
}

.theme-light pre[class*=language-],
.theme-light code[class*=language-],
.theme-light #gitalk-container .gt-container pre {
    /* line-height: 1.8 !important; */
    background-color: #f6f8fa !important;
    color: #90a4ae !important;
}

.theme-light .line-numbers-rows>span:before {
    color: #94a7b0 !important;
}

.theme-light pre::-webkit-scrollbar-thumb,
.theme-light div::-webkit-scrollbar-thumb {
    background: #e7e7e8 !important;
    box-shadow: none !important;
}

/* Custom: Dark Theme */

.theme-dark .post-html a {
    color: #4ba4fd !important;
    -webkit-text-fill-color: initial !important;
    background: transparent !important;
}

.theme-dark .post-html a:not(.headerlink)::after {
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 5px;
    margin-bottom: -1px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23676e95' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M13 11L21.2 2.80005'/><path d='M22 6.8V2H17.2'/><path d='M11 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H15C20 22 22 20 22 15V13'/%3E%3C/svg%3E");
}

.theme-dark div.code-toolbar>.toolbar button,
.theme-dark div.code-toolbar>.toolbar span {
    background: #292d3e;
    color: #a6accd;
}

.theme-dark pre[class*=language-],
.theme-dark code[class*=language-],
.theme-dark #gitalk-container .gt-container pre {
    /* line-height: 1.8 !important; */
    background-color: #292d3e !important;
    color: #a6accd !important;
}

.theme-dark .line-numbers-rows>span:before {
    color: #676e95 !important;
}

.theme-dark pre::-webkit-scrollbar-thumb,
.theme-dark div::-webkit-scrollbar-thumb {
    background: #353747 !important;
    box-shadow: none !important;
}

/* ==== [FILE TREEVIEW] ==== */
.token.treeview-part .entry-name:before {
    font-size: 12px !important;
}

/* .theme-dark .token.treeview-part .line-v-last:before {
    border-color: #f78c6c !important;
}
.theme-dark .token.entry-name.dir,
.theme-dark .token.treeview-part .entry-name:before {
    color: #f78c6c !important;
} */

/* ==== [IMAGE STYLE] ==== */
.post-html img {
    border: var(--background-primary) solid 5px;
    transition: all 0.25s linear;
    display: initial !important;
}

.post-html img:hover {
    border-width: 2px;
}

.feature-thumbnail span,
.article-thumbnail span {
    background: linear-gradient(130deg, rgb(67, 160, 253), rgb(41, 165, 242) 41.07%, rgb(27, 95, 230) 76.05%) !important;
}

/* ==== [SEARCH] ==== */
.theme-light #search-modal * {
    border-color: var(--text-sub-accent) !important;
}

.theme-light #search-modal mark {
    background-color: var(--text-sub-accent) !important;
    color: white;
}

.theme-light #search-modal .search-hit-label,
.theme-light #search-modal .text-ob {
    color: var(--text-sub-accent) !important;
}

.post-html iframe {
    height: 60vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* ==== [SIDEBAR TOC] ==== */
.sidebar-box div {
    /* max-height: max-content !important; */
}

/* ==== [LANGUAGE BASH SETTING] ==== */
.language-bash .line-numbers-rows>span:before {
    content: '$' !important;
}

/* ==== [MATCHING BRACES ] ==== */
.token.punctuation.brace-hover,
.token.punctuation.brace-selected {
    /* outline: solid 1px; */
    /* outline: none !important; */
}

.rainbow-braces .token.punctuation.brace-level-1,
.rainbow-braces .token.punctuation.brace-level-5,
.rainbow-braces .token.punctuation.brace-level-9 {
    color: #ffd00b !important;
    opacity: 1;
}

.rainbow-braces .token.punctuation.brace-level-2,
.rainbow-braces .token.punctuation.brace-level-6,
.rainbow-braces .token.punctuation.brace-level-10 {
    color: #ce54cd !important;
    opacity: 1;
}

.rainbow-braces .token.punctuation.brace-level-3,
.rainbow-braces .token.punctuation.brace-level-7,
.rainbow-braces .token.punctuation.brace-level-11 {
    color: #1984ff !important;
    opacity: 1;
}

.rainbow-braces .token.punctuation.brace-level-4,
.rainbow-braces .token.punctuation.brace-level-8,
.rainbow-braces .token.punctuation.brace-level-12 {
    color: #ce54cd !important;
    opacity: 1;
}

/* ==== [Download Box] ==== */
.dlBox {
    background: #f6f8fa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 12px;
    margin: 1.7em 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.theme-dark .dlBox {
    background: #292d3e;
}

.dlBox .fT {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    background: var(--background-primary);
    border-radius: 100%;
    margin: 0 10px;
}

.dlBox .fT::before {
    content: attr(data-text);
    opacity: .7;
}

.dlBox .fN {
    flex-grow: 1;
    width: calc(100% - 200px);
    padding: 0 15px;
}

.dlBox .fN>* {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dlBox .fS {
    line-height: 16px;
    font-size: 12px;
    opacity: .8;
}

.dlBox a {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 12px;
    border-radius: 100%;
    font-size: 13px;
    font-weight: bold;
}

.dlBox a::after {
    margin-right: 20px !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23aabfc9' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'><polyline points='8 17 12 21 16 17'/><line x1='12' y1='12' x2='12' y2='21'/><path d='M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29'/></svg>") !important;
}

.icon {
    flex-shrink: 0;
    display: inline-flex;
}

.icon.dl::before {}

.icon::before {
    content: '';
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon::after {
    content: '';
    padding: 0 6px;
}

/* ==== [Multiple Tabs] ==== */
.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.tabs label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: var(--shadow);
}
.theme-dark .tabs label {
    background: var(--background-primary);
}

.tabs .single-tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 10px 20px;
    padding-bottom: 0 !important;
    background: var(--background-secondary);
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: var(--shadow);
}
.theme-dark .tabs .single-tab {
    background: var(--background-primary);
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    border-bottom-width: 3px;
    background: #3e7bf71a;
    border-bottom-color: #3e7bf7aa;
    color: #3e7bf7;
}

.theme-dark .tabs input[type="radio"]:checked+label {
    background: #5dadff1a;
    border-bottom-color: #5dadffaa;
    color: #5dadff;
}

.tabs input[type="radio"]:checked+label+.single-tab {
    display: block;
}

@media (max-width: 45em) {
    .tabs .single-tab,
    .tabs label {
        order: initial;
        width: 100%;
        margin-right: 0;
        margin-top: 1rem;
        border-radius: 8px;
        font-size: 14.88px;
    }
    .tabs label::before {
        content: '\203A';
        margin-right: 10px;
        font-weight: 400;
        font-size: 1.33rem;
        transition: all 0.2s;
    }
    .tabs input[type="radio"]:checked+label {
        /* background: #f6f8fa; */
        background: var(--background-secondary);
        border: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-bottom: -1rem;
    }
    .tabs input[type="radio"]:checked+label::before {
        display: inline-block;
        transform: rotate(90deg);
    }
    .theme-dark .tabs input[type="radio"]:checked+label {
        /* background: #292d3e; */
        background: var(--background-primary);
    }
    .tabs .single-tab {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}