[data-theme="light"]:root { /* 500 */
    --theme-light-blue: #0098FF;
    --theme-magenta: #fC115F;
}

[data-theme="dark"]:root { /* 400 */
    --theme-light-blue: #3FBCFF;
    --theme-magenta: #FD4C75;
}