[data-theme="light"]:root {
    --theme-tomato: #ff6348;
    --theme-indigo: #5352ed;
    --theme-light-blue: #1e90ff;
}

[data-theme="dark"]:root {
    --theme-tomato: #f66f57;
    --theme-indigo: #8080f5;
    --theme-light-blue: #50a1f1;
}