/*
    use [data-theme='dark'] to adjust for only dark mode
*/

:root {
    --palenight-red: #f07178;
    --palenight-red-alt: #ff5370;
    --palenight-orange: #f79c6c;
    --palenight-yellow: #ffcb6c;
    --palenight-green: #c3e88d;
    --palenight-cyan: #80cbc4;
    --palenight-light-blue: #89ddff;
    --palenight-blue: #82aaff;
    --palenight-purple: #c792ea;
    --palenight-grey: #676e95;
    --palenight-white: #eeffff;
    --palenight-default: #a6accd;
}

#article-container .highlight-tools .code-lang,
#article-container .highlight-tools .anzhiyufont {
    color: var(--palenight-default) !important;
}

/* [ TEXT COLOR ] */
pre code span,
pre {
    color: var(--palenight-default) !important;
}

/* [ LINE NUMMBER ] */
#article-container pre[class*='language-'].line-numbers .line-numbers-rows>span:before {
    color: var(--palenight-grey) !important;
}

/* [ OPERATOR, PUNCTUATION ] */
.highlight .token.punctuation {
    color: var(--palenight-light-blue) !important;
}
.highlight .token.operator {
    color: var(--palenight-purple) !important;
}

/* [ COMMENT ] */
.highlight .token.comment {
    color: var(--palenight-grey) !important;
    font-style: italic !important;
}

/* [ STRING ] */
.highlight .token.string {
    color: var(--palenight-green) !important;
}

/* [ KEYWORD ] */
.highlight .token.keyword {
    color: var(--palenight-purple) !important;
}

/* [ FUNCTION ] */
.highlight .token.function {
    color: var(--palenight-blue) !important;
}

/* [ ANNOTATION ] */
.highlight .token.annotation {
    color: var(--palenight-cyan) !important;
}

/* [ CLASS ] */
.highlight .token.class-name {
    color: var(--palenight-yellow) !important;
}

/* [ HTML TAG ] */
.highlight .token.tag {
    color: var(--palenight-red) !important;
}

/* [ HTML ATTRIBUTE ] */
.highlight .token.attr-name,
.highlight .token.namespace {
    color: var(--palenight-purple) !important;
}

/* [ HTML ATTRIBUTE VALUE ] */
.highlight .token.attr-value {
    color: var(--palenight-green) !important;
}

/* [ DIFF ] */
.highlight .language-diff .deleted .prefix {
    color: #eb3b5aaa !important;
}

.highlight .language-diff .deleted .line {
    color: #eb3b5a !important;
    text-decoration: line-through !important;
}

.highlight .language-diff .inserted .prefix {
    color: #20bf6baa !important;
}

.highlight .language-diff .inserted .line {
    color: #20bf6b !important;
}